

/* Style for the entire container */
.survey-report-container {
    margin: 20px; /* Add margin for spacing */
    border: 1px solid #ccc; /* Add border for visual separation */
    padding: 15px; /* Add padding for spacing inside the container */
  }
  
  /* Style for the survey report section */
  .survey-report {
    margin: 10px;
    border: 5px solid darkcyan;
    border-radius: 10px;
    padding: 10px 15px;
    color: #333;; /* Add margin for spacing between sections */
  }
  
  /* Style for the column names */
  .column-names {
    font-weight: bold; /* Make the text bold */
  }
  
  /* Style for the list of usernames */
  .usernames-list {
    list-style-type: none; /* Remove bullet points from the list */
    padding: 0; /* Remove default padding from the list */
  }
  